@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* HEADER COMPONENT */
  input::placeholder {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }
  .header__link {
    @apply relative cursor-pointer text-lg;
  }
  .header__link:hover {
    opacity: 0.8;
  }
  .header__link::after {
    content: "";
    @apply absolute left-0 top-3 bottom-3 h-full w-full border-b-2 border-gray-200 scale-x-0;
    @apply transition duration-500;
  }
  .header__link.active::after {
    @apply transform scale-x-[25%];
  }
  .header__link:not(.active):hover::after {
    @apply transform scale-x-[10%];
  }
  .guestAmtBtn {
    @apply outline-none border border-gray-400 rounded-lg w-10 text-lg font-extrabold text-gray-500 bg-white;
  }

  /* Date Range Picker */
  .calpicker .rdrDefinedRangesWrapper {
    @apply hidden sm:!block;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* SEARCH PAGE */
  .filterItem {
    @apply text-xs hover:opacity-80 hover:bg-regal-blue-dark cursor-pointer px-3 py-2;
  }
}
